*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#0d0d0d;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:90%;
    max-width:500px;
    text-align:center;
}

h1{
    font-size:32px;
    margin-bottom:10px;
    color:#00eaff;
}

.subtitle{
    margin-bottom:20px;
    color:#ccc;
}

textarea{
    width:100%;
    height:150px;
    padding:10px;
    border:none;
    border-radius:10px;
    background:#111;
    color:white;
    font-size:16px;
}

button{
    margin-top:20px;
    width:100%;
    padding:12px;
    background:#00eaff;
    border:none;
    border-radius:10px;
    font-size:18px;
    color:black;
    font-weight:bold;
    cursor:pointer;
}

#resultBox{
    margin-top:25px;
    background:#111;
    padding:15px;
    border-radius:10px;
    text-align:left;
}

#resultText{
    margin-top:5px;
    font-size:17px;
    color:#0aff87;
  }
